[Unit]
Description=SnapServer
After=network.target

[Service]
ExecStart=/usr/sbin/snapserver
StandardOutput=null

[Install]
WantedBy=multi-user.target
