[Unit]
Description=SnapClient
After=network.target

[Service]
ExecStart=/usr/sbin/snapclient
StandardOutput=null

[Install]
WantedBy=multi-user.target
